{% import 'macros.html' as macros %}

<!doctype html>

<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; img-src 'self' data:; script-src 'self' https://static.cloudflareinsights.com;">

    <meta name="author" content="PommaLabs">
    <meta name="description" content="Email Validator validates email addresses using open source libraries">
    <meta name="keywords" content="pommalabs,email,validator,open,source">

    <meta property="og:title" content="Email Validator" />
    <meta property="og:description" content="Email Validator validates email addresses using open source libraries" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request_url }}" />

    <title>Email Validator</title>

    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">

    <link href="/static/css/bootstrap.min.css?v={{ app_version }}" rel="stylesheet">
    <link href="/static/css/style.css?v={{ app_version }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Email Validator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/pommalabs/email-validator" target="_blank"
                            rel="noopener">Source code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs" target="_blank">REST APIs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="d-flex flex-column align-items-center">
        <div id="upper-pane">
            <h1>Email Validator</h1>
        </div>

        <form id="main-form" method="post" action="/" class="d-flex flex-column align-items-center">
            <input type="hidden" id="token" name="token" />

            <div class="input-group">
                {{ macros.address_input(validation_resp, "address", "Email address") }}
                <div class="ev-clear-btn-container">
                    <a id="clear" class="ev-clear-btn" role="button" href="/">⨯</a>
                </div>
                <button id="validate-btn" class="btn btn-lg btn-primary" type="submit">
                    <span id="validate-spinner" class="spinner-border spinner-border-sm d-none"
                        aria-hidden="true"></span>
                    Validate
                </button>
            </div>

            <small class="text-muted">
                Powered by
                <a href="https://litestar.dev" target="_blank" rel="noopener">Litestar</a>,
                <a href="https://git.ksol.io/karolyi/py3-validate-email" target="_blank"
                    rel="noopener">py3-validate-email</a> and
                <a href="https://github.com/mailcheck/pymailcheck" target="_blank" rel="noopener">pymailcheck</a>
            </small>
        </form>

        <div id="lower-pane">
            {{ macros.verdict_box(validation_resp) }}
        </div>
    </main>

    <footer class="ev-footer bg-dark">
        <span class="text-muted">
            © 2021-{{ current_year }} ·
            <a href="https://gitlab.com/pommalabs/email-validator/" target="_blank" rel="noopener">Email Validator</a>
            by <a href="https://pommalabs.xyz/" target="_blank" rel="noopener">PommaLabs</a>
        </span>
    </footer>

    <script src="/static/js/bootstrap.bundle.min.js?v={{ app_version }}"></script>
    <script src="/static/js/main.js?v={{ app_version }}"></script>
</body>

</html>