{% macro address_input(validation_resp, name, placeholder) -%}
{% if not validation_resp %}
<input type="email" name="{{ name }}" required autofocus
    placeholder="{{ placeholder}}" aria-label="{{ placeholder }}"
    class="ev-address-input form-control form-control-lg">
{% else %}
<input type="email" name="{{ name }}" required autofocus
    placeholder="{{ placeholder}}" aria-label="{{ placeholder }}"
    class="ev-address-input form-control form-control-lg is-{{ validation_resp.verdict.value }}"
    value="{{ validation_resp.address }}">
{% endif %}
{%- endmacro %}

{% macro verdict_reason(reason_code) -%}
<strong>
    {% if reason_code == "invalid_address_format" %}
    Address format is not valid.
    {% elif reason_code == "domain_blacklisted" %}
    Domain is blacklisted.
    {% elif reason_code == "domain_not_found" %}
    Domain was not found or it does not exist.
    {% elif reason_code == "no_nameserver_found" %}
    Nameservers were not found or they do not exist.
    {% elif reason_code == "dns_timeout" %}
    DNS communication timed out.
    {% elif reason_code == "dns_configuration_error" %}
    DNS is not configured properly.
    {% elif reason_code == "no_mx_record" %}
    MX records are not available.
    {% elif reason_code == "no_valid_mx_record" %}
    MX records are not valid.
    {% elif reason_code == "address_not_deliverable" %}
    Address is not deliverable.
    {% elif reason_code == "smtp_communication_error" %}
    SMTP communication failed.
    {% elif reason_code == "smtp_temporary_error" %}
    SMTP communication temporarily failed.
    {% elif reason_code == "tls_negotiation_error" %}
    TLS negotiation failed.
    {% endif %}
</strong>
{%- endmacro %}

{% macro suggestion(suggestion) -%}
{% if suggestion %}
<p>Were you looking for <em>{{ suggestion }}</em>?</p>
{% endif %}
{%- endmacro %}

{% macro verdict_box(validation_resp) -%}
{% if not validation_resp %}
<div class="ev-verdict-box"></div>
{% elif validation_resp.verdict.value == "valid" %}
<div class="ev-verdict-box alert alert-success" role="alert">
    <h4 class="alert-heading">Email address is <strong>valid</strong>.</h4>
    <p>
        This means that all required elements for an email sent to specified address
        to be correctly delivered are in place. SMTP server for specified domain
        also recognized the email address as valid.
    </p>
    <p class="mb-0">
        However, this does not mean that the email address actually exists
        and that it will be able to receive incoming email: see
        <a href="https://git.ksol.io/karolyi/py3-validate-email/src/branch/master/FAQ.md" target="_blank"
            rel="noopener">py3-validate-email FAQ</a>
        for further information.
    </p>
</div>
{% elif validation_resp.verdict.value == "risky" %}
<div class="ev-verdict-box alert alert-warning" role="alert">
    <h4 class="alert-heading">Email address is <strong>risky</strong>.</h4>
    {{ suggestion(validation_resp.suggestion) }}
    <p>
        {{ verdict_reason(validation_resp.reason.code) }}
        This means that the availability of all required elements for an email
        sent to specified address to be correctly delivered could not be determined.
    </p>
    <p class="mb-0">
        However, this does not mean that the email address does not exist: see
        <a href="https://git.ksol.io/karolyi/py3-validate-email/src/branch/master/FAQ.md" target="_blank"
            rel="noopener">py3-validate-email FAQ</a>
        for further information.
    </p>
</div>
{% elif validation_resp.verdict.value == "invalid" %}
<div class="ev-verdict-box alert alert-danger" role="alert">
    <h4 class="alert-heading">Email address is <strong>invalid</strong>.</h4>
    {{ suggestion(validation_resp.suggestion) }}
    <p>
        {{ verdict_reason(validation_resp.reason.code) }}
        This means that the at least one of the required elements for an email
        sent to specified address to be correctly delivered is not available.
    </p>
    <p class="mb-0">
        Therefore, it is very likely, but it is not certain, that the email address does not exist: see
        <a href="https://git.ksol.io/karolyi/py3-validate-email/src/branch/master/FAQ.md" target="_blank"
            rel="noopener">py3-validate-email FAQ</a>
        for further information.
    </p>
</div>
{% else %}
<div class="ev-verdict-box"></div>
{% endif %}
{%- endmacro %}
