:root {
    /* Overrides */
    font-size: calc(0.8em + 0.2vw);
    /* Variables */
    --ev-margin: 1em;
    --ev-footer-height: 3.2em;
}

*+* {
    margin-top: var(--ev-margin);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: var(--ev-footer-height);
}

a[target="_blank"]:after {
    content: "↗";
}

.navbar-collapse,
.navbar .navbar-nav>*+* {
    margin-top: unset;
}

#upper-pane,
#lower-pane {
    margin-left: var(--ev-margin);
    margin-right: var(--ev-margin);
}

#upper-pane h1 {
    margin-top: calc(2 * var(--ev-margin));
}

.ev-footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    /* Vertically center footer text */
    line-height: var(--ev-footer-height);
}

main {
    margin-top: unset;
    overflow-y: auto;
}

#main-form .input-group,
#main-form .input-group>*+* {
    margin-top: unset;
}

.ev-address-input.form-control {
    min-width: 30vw;
    padding-right: 1.6em;
}

.ev-address-input.form-control.is-valid,
.ev-address-input.form-control.is-risky,
.ev-address-input.form-control.is-invalid {
    padding-right: 3.2em;
}

.ev-address-input.form-control.is-risky {
    border-color: var(--bs-warning);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffc107' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.ev-address-input.form-control.is-risky:focus {
    border-color: var(--bs-warning);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-warning-rgb), 0.25);
}

.ev-clear-btn-container {
    position: relative;
    display: flex;
    align-items: center;
}

.ev-clear-btn {
    position: absolute;
    left: -1.4em;
    font-size: 1.2em;
    z-index: 100;
    text-decoration: none;
    color: var(--bs-gray-600);
}

.ev-clear-btn:hover {
    color: var(--bs-gray-300);
}

.ev-address-input.form-control.is-valid+.ev-clear-btn-container>.ev-clear-btn,
.ev-address-input.form-control.is-risky+.ev-clear-btn-container>.ev-clear-btn,
.ev-address-input.form-control.is-invalid+.ev-clear-btn-container>.ev-clear-btn {
    left: -2.8em;
}

.ev-verdict-box.alert {
    max-width: 50em;
}

.ev-verdict-box.alert .alert-heading {
    text-align: center;
}

.ev-verdict-box.alert p {
    text-align: justify;
}